body {
    padding-top: 56px;
    padding-bottom: 56px; /* Ensures the footer does not overlap content */
}
.custom-section {
    padding: 40px 0;
}

#alertButton{
    width: 100%;
}

.no-hover:hover {
    background-color: inherit !important;
    color: inherit !important;
    border-color: inherit !important;
}
