


/* Container for the image and buttons */
.image-container {
    position: relative;
    display: inline-block;
}

/* Style for the image */
.image-container img {
    display: block;
    width: 100%; /* Ensure the image fits within the container */
}

/* Position the buttons absolutely within the container */
.image-button {
    position: absolute;
    background-color: transparent;
    border:none;
}
.remote-button {
    width: 15%;
    height: 75%;
    transform: rotate(10deg);
}
/* Specific button positions */
#button1 {
    top: 15%;
    left: 22.4%;
}
#button2 {
    top: 15%;
    left: 38.5%;
}

#button3 {
    top: 15%;
    right: 17.5%;
}
#button4 {
    top: 15%;
  right: 1.5%;
}
