


/* Container for the image and buttons */
.image-container {
    position: relative;
    display: inline-block;
}

/* Style for the image */
.image-container .background {
    display: block;
    width: 100%; /* Ensure the image fits within the container */
}

/* Position the buttons absolutely within the container */
.image-button {
    position: absolute;
    background-color: transparent;
    border:none;
}
.remote-button {
    width: 15%;
    height: 75%;
    transform: rotate(10deg);
}
/* Specific button positions */
#button1 {
    top: 15%;
    left: 22.4%;
}
#button2 {
    top: 15%;
    left: 38.5%;
}

#button3 {
    top: 15%;
    right: 17.5%;
}
#button4 {
    top: 15%;
  right: 1.5%;
}

.seatHuman, .hoverHuman{
    position: absolute;
    width: 10%;
    height: auto;
    top:33%;
    display: none;
}

.hoverHuman{
    top:66%;
}

#human1, #human1Hover{
    left: 25%;
}
#human2, #human2Hover{
    left: 40%;   
}
#human3, #human3Hover{
    right: 20%;   
}   
#human4, #human4Hover{
    right: 3%;   
}   